.dropdownContainer {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #555770;
  font-size: 12px;
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.dropdown:hover,
.dropdown:focus-within {
  border-color: #9e9e9e;
}

.selectedOption {
  flex-grow: 1;
}

.dropdownOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.dropdownOption {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: #eeeeee;
}
