.header {
  max-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  box-shadow: 0px 2px 4px 0px #60617029, 0px 0px 1px 0px #28293d0a;
}

.companyLogo {
  width: 228px;
}

.companyLogo:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #090f4e;
  font-size: 18px;
}

.shareButton {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

.shareButton:hover {
  background-color: #EAF0F1;
}

.showInSmallScreen {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .showInSmallScreen {
    display: block;
  }
  .shareButton, .showInLargeScreen {
    display: none;
  }
  .header {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 450px) {
  .header img {
    width: 140px;
  }
}
